<h1>Register</h1>
<span class="account" [routerLink]="['/auth/login']" >Already have account ? Go to Login</span>
<div class="auth-data">
  <span>Username</span>
  <input [(ngModel)]="username" type="text" placeholder="Username" />
</div>
<div class="auth-data">
  <span>Password</span>
  <input [(ngModel)]="password" type="password" placeholder="Password" />
</div>
<div class="auth-data">
  <span>Confirm Password</span>
  <input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm-Password" />
</div>
<button (click)="register()">Cont nou</button>
